<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	v-for的使用
		1.在script上有数组，在template上利用ul li，在li上用v-for去循环
		2.数组中包含对象，
			list1:[
				{'title':'1111'},
				{'title':'asasd'},
				{'title':'asdasd'}
			]
		这种也是ul li 但是在li(v-for="item in list1")上循环的时候，写数据则写成{{item.title}}

		3.循环嵌套的使用
			list2:[
        {
          "cate":"休息徐",
          "list":[
            {'title':'11122'},
            {'title':'1asdadasd'},
          ]
        },
        {
          "cate":"归家",
          "list":[
            {'title':'1112滴滴滴滴滴滴2'},
            {'title':'1asd按时大大dasd'},
          ]
        }
      ]
      这种如何将数据显示在页面上这种也叫循环嵌套，这种也是用到ul 下的li 然后V-for循环（item in list2）写入数据，（利用上面的2的写法）{{item.cate}},先将对象写出，再利用ol下的li再v-for循环（li v-for="news in item.list"）{{news.title}}，还是依照循环谁就写谁的原则写

      <!-- 绑定v-bind -->简写 直接一个:（冒号）
      如果在script中是从后台中获取的数据url，而你在template上去显示则要写成
        <img v-bind:src="url">

      script上有html怎么绑定？
        用新的v-html
      绑定数据v-text

      双向数据绑定必须在表单里面使用v-model
      methods 放方法的地方
	6----------------------------------
	<!-- 绑定事件执行方法 -->
        v-on:click
        @click
        在methods上，你可以用run1:function(){},
        也可以直接是run2(){}
      <!-- 执行方法获取数据 -->
      获取方法你要在methods,要用this  this.名字
      小程序获取  this.data.msg
      react       this.state.msg
      <!-- 如果改变data里msg -->
      this.msg="改变数据"
      <!-- 请求数据 -->
      首先要在data里定义一个空数组(list[])，然后在template上利用<ul> 下的<li v-for="item in list"> {{item}}  然后在script上用for循环去this.list.push数据
      <!-- 方法传值 -->
      在你之前定义的方法名字（deleta）,在script上写
      deleta(val){  这个val 可以随便写
      }
      <!-- 事件对象 -->
        在template上
        <button @click="eventFn($event)">事件对象</button>
        script上
          eventFn(e){
          可以获取dom对象
        e.srcElement.style.background='red'  点击button上的变红
        获取当前自定义属性传值
          }
	
	 7---------- 
        Vue中实现一个todolist
          首先你要在template上利用数据绑定v-model将数据绑定，然后写出模型（增加方法）
          input type="text" v-model="todo"/>
          <button @click="doAdd()">+++</button>
          在script上你要设置todo为空todo:'',和一个list为空的数组list:[],<ul>下的<li> 用v-for 去循环item in list {{item}},既然要增加就得先去获取你在输入框输入的值，然后利用push到list上就用到了this.list.push(this.todo);
          删除的时候就是在你之前的v-for下的写入一个button删除按钮同时，v-for上的item in list 也变成了（item key） in list
          在script上也将利用了数组上的splice删除
          this.list.splice(key,1);
        10-----------组件
        引用组件你就需要引入
          import xxxx from './components.xxxxxx.vue'
        引入完成后就需要挂载就是在script上写一个
        components:{
            'v-xxxx':xxxxxx
        }
        然后在template上使用
        <v-xxxx></v-xxxx>
	 11------------------------生命周期函数（生命周期钩子）
        组件挂载、以及组件更新、组件销毁的时候出发的一系列的方法就叫生命周期函数
        必须记住的是mounted  我们请求数据、操作DOM都是放在这里 
        mounted(){
        console.log('模板编译完成');
        }


        beforeCreate(实例刚刚被创建)
        Create(实例创建完成)
        beforeMount(模板编译前)
        mounted(编译完成)
        beforeUpdated(数据更新前)
        updated(数据更新完毕)
        beforeDestroy(实例销毁前)
        destroyed(实例销毁完成)
	
	12---------------请求数据

          vue-resource    官方提供的Vue插件
            安装   $ npm install vue-resource --save
  (写--save是将你安装的版本写到package.json上面)
          axios
          detch-jsonp
          
          使用vue-resource请求数据步骤
            1.安装vue-resource模块
            2.在main.js上引入vue-resource
            3.调用Vue.use(VueResource);也是在main.js上
            4.在组件中直接使用
              this.$http.get(地址).then(function(response){

              },function(err){

              })
              官方箭头函数写法：
                {
                  // GET /someUrl
                  this.$http.get('/someUrl').then(response => {

                    // get body data
                    this.someData = response.body;

                  }, response => {
                    // error callback
                  });
                }
            
            axios数据请求

            使用：
            1.安装
            cnpm install axios --save
            2.哪里用哪里引入（你在哪个模板中使用就在哪个模板上引入）

            建议使用箭头函数以防止this的指向错误
              {
               var api='请求地址'
               Axios.get(api).then(function(response){
               console.log(response);
               }) 
               .catch(function(error){
               console.log(error);
               })

              }
              箭头函数
               {
               var api='请求地址'
               Axios.get(api).then((response)=>{
               console.log(response);
               this.list=respose.data.result
               }) 
               .catch((error)=>{
               console.log(error);
               })

              }
              获取数据，在data里定义一个list为空，然后在箭头函数里写this，在去template上利用<ul> <li v-for>循环数据
	14--------父子传值
            父给子传值(不光能传值，还可以传方法)
              1.父组件调用子组件的时候绑定动态属性
              <v-header :title="title"></v-header>
              2.在子组件里通过props接受父组件传过来的数据
              props:['title']

              验证：
              props:{
                'title':String
              }
              3直接在子组件里使用
            父组件获取子组件主动的数据方法
               1.调用子组件的时候定义一个ref
               <v-header red="header"></v-header>
               2.在父组件里面通过
                this.$refs.header.属性
                this.$refs.header.方法

            子组件主动获取父组件的数据方法
                this.$parent.数据
                this.$parent.方法
	
	 16-----------------非父子组件传值（兄弟组件）
          1.新建一个JS文件，引入Vue 实例化Vue 暴露这个实例
          2.在广播的地方引入实例
          3.通过VueEmit.$emit('名称','数据')
          4.接收数据的地方通过VueEmit.$on('名称',function(){
          
          })
             

</body>
</html>
